
div.display-ticket {
    font-family: Helvetica;
    font-size: 12 pt; 
    border: 3px solid black;
    padding:10px;
}

div.design {
    max-width: 800px; 
    font:Helvetica;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #ADD8E6;
}
