.display-ticketinformation {
    font-family: Helvetica;
    font-size: 12 pt; 
}

.ticket-list{
    text-align: center;
    background-color: #ADD8E6;
    max-width: 800px; 
    font-family:Helvetica;
    padding: 10px;
    border: 5px solid black;
    font-size: 12pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}